/*
root {
    --cor01: #fcf23485;
    --cor02: #e8c910;
    --cor03: #ffcb1f;
    --cor04: #e8a210;
    --cor05: #ff9d12;
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'slubby', sans-serif; 
*/